* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/avengersLogo.jpg");
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Orbitron', sans-serif;
}
.selectHero {
  display: inline;
}

.ironMan {
  background-image: url("../images/ironMan2.jpg");
  background-size: cover;
  height: 200px;
  text-align: center;
  margin: 0 5px 0 10px;
  color: white;
  font-size: 30px;
  padding-top: 50px;
}

.capAmerica {
  background-image: url("../images/capAmerica.jpg");
  background-size: cover;
  height: 200px;
  margin: 0 5px;

}

.thor {
  background-image: url("../images/thor.jpg");
  background-size: cover;
  height: 200px;
  margin: 0 5px;

}

.winterSoldier {
  background-image: url("../images/winterSoldier.png");
  background-size: cover;
  height: 200px;
  margin: 0 5px;

}

#fighter{
  border: 10px white solid;
  margin-left: 15px;
  width: 263px;
}

#opponent {
  border: 10px red solid;
  margin-left: 50px;
  width: 263px;
}

#fightDetails {
  color: white;
  text-align: center;
}

#attack {
  padding: auto;
  padding-top: 60px;
  text-align: center;
}

#foe {
  text-align: center;
}

#character {
  text-align: left;
  padding-left: 100px;
}

#instruction {
  margin-left: 20px;
}
