* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/avengersLogo.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: white;
}
.selectHero {
  display: inline;
}

#bigText {
  font-size: 70px;
  color: black;
  text-shadow:
    -2px -2px 0 #eff,
    2px -2px 0 #eff,
    -2px 2px 0 #eff,
    2px 2px 0 #eff;
}

.ironMan {
  background-image: url("../images/ironMan2.jpg");
  background-size: cover;
  height: 200px;
  text-align: center;
  margin: 0 5px 0 10px;
  color: white;
  font-size: 25px;
  padding-top: 50px;
}

.ironMan p {
  background-color: rgba(0, 0, 0, 0.5);
}

.capAmerica {
  background-image: url("../images/capAmerica.jpg");
  background-size: cover;
  height: 200px;
  margin: 0 5px;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 50px;
}

.capAmerica p {
  background-color: rgba(0, 0, 0, 0.5);
}

.thor {
  background-image: url("../images/thor.jpg");
  background-size: cover;
  height: 200px;
  margin: 0 5px;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 50px;
}

.thor p {
  background-color: rgba(0, 0, 0, 0.5);
}

.winterSoldier {
  background-image: url("../images/winterSoldier.png");
  background-size: cover;
  height: 200px;
  margin: 0 5px;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 50px;
}

.winterSoldier p {
  background-color: rgba(0, 0, 0, 0.5);
}

#fighter{
  border: 10px white solid;
  margin-left: 15px;
  width: 263px;
}

#opponent {
  border: 10px red solid;
  margin-left: 50px;
  width: 263px;
}

#fightDetails {
  color: white;
  text-align: center;
}

#attack {
  padding: auto;
  padding-top: 60px;
  text-align: center;
}

#foe {
  text-align: center;
}

#character {
  text-align: left;
  padding-left: 100px;
}

#instruction {
  margin-left: 20px;
}
